In [1]:
#install Beautifulsoup

In [2]:
!pip install Beautifulsoup4

Requirement already satisfied: Beautifulsoup4 in c:\users\shopinverse\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\shopinverse\anaconda3\lib\site-packages (from Beautifulsoup4) (2.3.1)

In [3]:
#import libraries

In [4]:
import pandas as pd   
import requests
from bs4 import BeautifulSoup 
import numpy as np

In [5]:
#assigning the URL with variable name url

In [6]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'

In [7]:
#request allow you to send HTTP request
response = requests.get(url)
print(response)

<Response [200]>

In [8]:
soup = BeautifulSoup(response.content, 'html.parser')

In [9]:
#creating list, so that we can append the values
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []
description = []
Director = []
Stars = []

In [10]:
#storing the meaningfull required data in the variable
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-advanced'})

In [11]:
for store in movie_data:
    name = store.h3.a.text

In [12]:
name

'Drishyam'

In [13]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)
    
    runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '')
    time.append(runtime)
    
    rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)
    
    meta  = store.find('span', class_ = 'metascore').text.replace(' ', '') if store.find('span', class_ = 'metascore') else '^^^^^^'
    metascore.append(meta)
    
     #since, gross and votes have same attributes, that's why we had created a common variable and then used indexing
    value = store.find_all('span', attrs = {'name': 'nv'})
    
    vote = value[0].text
    votes.append(vote)
    
    grosses = value[1].text if len(value) >1 else '*****'
    gross.append(grosses)
    
    # Description of the Movies -- Not explained in the Video, But you will figure it out. 
    describe = store.find_all('p', class_ = 'text-muted')
    description_ = describe[1].text.replace('\n', '') if len(describe) >1 else '*****'
    description.append(description_)
    
     #Cast Details -- Scraping Director name and Stars -- Not explained in Video
    cast = store.find("p", class_ = '')
    cast = cast.text.replace('\n', '').split('|')
    cast = [x.strip() for x in cast]
    cast = [cast[i].replace(j, "") for i,j in enumerate(["Director:", "Stars:"])]
    Director.append(cast[0])
    Stars.append([x.strip() for x in cast[1].split(",")])

In [15]:
#creating a dataframe using pandas library

In [17]:
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Watchtime': time, 'Movie Rating': rating, 'Metascore': metascore, 'Votes': votes, 'Gross collection': gross, 'Description': description, "Director": Director, 'Star': Stars})

In [18]:
movie_DF

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,The Shawshank Redemption,1994,142,9.3,81,"2,636,550",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
1,The Godfather,1972,175,9.2,100,"1,827,376",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"[Marlon Brando, Al Pacino, James Caan, Diane K..."
2,Rocketry: The Nambi Effect,2022,157,9.0,^^^^^^,"42,627",*****,Based on the life of Indian Space Research Org...,Madhavan,"[Madhavan, Simran, Rajit Kapoor, Ravi Raghaven..."
3,The Dark Knight,2008,152,9.0,84,"2,607,840",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart, ..."
4,The Lord of the Rings: The Return of the King,2003,201,9.0,94,"1,810,871",$377.85M,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"[Elijah Wood, Viggo Mortensen, Ian McKellen, O..."
...,...,...,...,...,...,...,...,...,...,...
95,Hamilton,2020,160,8.3,90,"91,881",#119,The real life of one of America's foremost fou...,Thomas Kail,"[Lin-Manuel Miranda, Phillipa Soo, Leslie Odom..."
96,Ratsasan,2018,170,8.3,^^^^^^,"42,257",*****,A sub-inspector sets out in pursuit of a myste...,Ram Kumar,"[Vishnu Vishal, Amala Paul, Radha Ravi, Sangil..."
97,Ayla: The Daughter of War,2017,125,8.3,^^^^^^,"39,590",*****,"In 1950, amid-st the ravages of the Korean War...",Can Ulkay,"[Çetin Tekindor, Ismail Hacioglu, Kyung-jin Le..."
98,Dangal,2016,161,8.3,^^^^^^,"188,568",$12.39M,Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"[Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh..."
99,Drishyam,2013,160,8.3,^^^^^^,"41,138",*****,A man goes to extreme lengths to save his fami...,Jeethu Joseph,"[Mohanlal, Meena, Asha Sharath, Ansiba]"

In [22]:
movie_DF.to_csv("IMDb_Web_Scrapping.csv")

In [27]:
movie_DF.to_excel("IMDb_Web_Scrapping.xlsx")